<h1>Shopping Cart</h1>

<% @products.each do |product| %>

  <div class="row">
    <div class="col-sm-3">
      <%= image_tag product.image, size: '200' %>
    </div>
    <div class="col-sm-9">
      <p><%= link_to product.name, product %></p>
      <p>
        <strong>Price:</strong>
        <%= number_to_currency(product.price)  %>
      </p>
      <p>
        <strong>Category:</strong>
        <%=  link_to product.category.name, product.category  %>
      </p>
      <%= link_to 'Remove item from cart', remove_from_cart_product_path(product), method: :post %>
    </div>
  </div>
<% end %>

<% if @shopping_cart_items.empty? %>
  <p>You have no items in your shopping cart.</p>
<% else %>
  <h2>Subtotal: <%= number_to_currency(@subtotal) %></h2>
  <p><%= link_to 'Proceed to Checkout', cart_checkout_path %></p>
  <p><%= link_to 'Clear shopping cart', clear_shopping_cart_products_path, method: :post %></p>
<% end %>

