<!DOCTYPE html>
<html>
  <head>
    <title>Kaori Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <div class="header">
    <h2>Kaori Music</h2>

    <%= form_tag(search_path, method: "get") do %>
      <%= label_tag(:q, "Search products for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <!-- NavigationBar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Kaori Music', root_url %></li>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
